<<<<<<< HEAD
main{
    font-size: 21px;
    
}

body{
    margin: 0;
    background-image: url("../images/naja-bertolt-jensen-ex7EKxqShxk-unsplash.jpg");
    height: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    
}

p{
    font-size:25px;
}

nav {
    display: flex;
    align-items: center;
    padding:30px 0px;
    height: 20px;
    background: none;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.nav-items{
    list-style: none;
    display: flex;
    text-align: right;
}

.nav-items > li {
    
    font-size: 20px;
    
}


.nav-logo {
    width: 78px;
    border-radius: 6px;
    margin-left:10px ;
    margin-top:15px;
    }  


.why-care-header{
    color:aliceblue;
    font-family: 'Spline Sans', sans-serif;
    margin-left: 50px
}

.why-care {
    color:aliceblue;
    font-family: 'Spline Sans', sans-serif;
    margin: 50px;
    border: 1px solid aliceblue;
    padding: 20px
}

.home-header{
    padding-top:30px;
    text-align: center;
    color:aliceblue;
    font-family: 'Spline Sans', sans-serif;
}

.donate {
    margin-top:0;
    margin-right: 10px;
    border-radius: 6px;
    border: none;
}

button {
    transition-duration: 0.4s;
    font-size:20px;
    padding: 22px
}
  
button:hover {
    background-color: #61DAFB; /* Green */
    color: white;
}
=======
>>>>>>> daniels2nd_branch
